# Coverage related files
src/*.gcno
src/*.gcda
gerbv-lcov.info

# Visual Studio Code
.vscode/

# CMake
build/
CMakeUserPresets.json

# AI
.claude/

# Package building directory
_packages/
test/gui/__pycache__/
scripts/temporary/
