*~
*.o
*.lo
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
doc/html/*.css
doc/html/*.html
doc/html/*.js
doc/html/*.png
doc/html/*.svg
install-sh
intl/
libtool
ltmain.sh
m4/*
!m4/ax_code_coverage.m4
man/gerbv.1
missing
mkinstalldirs
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
share/glib-2.0/schemas/org.geda-user.gerbv.gschema.valid
src/.deps
src/.libs
src/authors.c
src/bugs.c
src/gerbv
src/gerbv.exe
src/gerbv.orig
src/gerbv_icon.ico
src/libgerbv.la
src/libgerbv.pc
src/run_gerbv

# Coverage related files
src/*.gcno
src/*.gcda
gerbv-lcov.info

stamp-h1
test-driver
test/mismatch/
test/outputs/
win32/BUGS.txt
win32/COPYING.txt
