*~
*.o
*.lo
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
intl/
libtool
ltmain.sh
m4/
man/gerbv.1
missing
mkinstalldirs
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
src/.deps
src/.libs
src/authors.c
src/bugs.c
src/gerbv
src/gerbv.orig
src/libgerbv.la
src/libgerbv.pc
src/run_gerbv
stamp-h1
test/mismatch/
test/outputs/
