name: CI

# Controls when the action will run. Triggers the workflow on push or pull
# request events but only for the main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]


jobs:
  ci:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Get number of jobs for compiling
      run: echo "NUM_BUILD_JOBS=$((`nproc --all` * 4))" >> $GITHUB_ENV

    - name: Set a local install path
      run: echo "LOCAL_INSTALL_PATH=${HOME}/.local" >> $GITHUB_ENV

    - name: Get requirements for configure and build
      run: |
        sudo apt-get install autopoint libgtkmm-2.4-dev desktop-file-utils libc6-dbg

    - name: Configure and build
      run: |
        sh autogen.sh
        ./configure
        make -j ${NUM_BUILD_JOBS}

    - name: Install valgrind
      run: |
        pushd ~
        git clone --depth=1 --branch=master https://github.com/eyal0/valgrind.git
        pushd valgrind
        sh autogen.sh
        ./configure --prefix=${LOCAL_INSTALL_PATH}
        make -j ${NUM_BUILD_JOBS}
        make install
        popd
        popd

    - name: Run unit tests
      run: |
        make check || (cat test/test-suite.log && false)

    - name: Rebuild Fedora 34
      run: npx --package mini-cross@0.15.2 mc --no-tty fedora:34 .mc/rebuild.sh

    - name: Rebuild Ubuntu 20.04
      run: npx --package mini-cross@0.15.2 mc --no-tty ubuntu:20.04 .mc/rebuild.sh

    - name: Rebuild Windows amd64
      run: npx --package mini-cross@0.15.2 mc --no-tty windows:amd64 .mc/rebuild.sh

    - name: Rebuild gerbv.github.io
      run: |
        npx --package mini-cross@0.15.2 mc --no-tty website make -C gerbv.github.io
        find gerbv.github.io -type f -name '.gitignore' -exec rm {} \;

    - name: Deploy gerbv.github.io
      uses: JamesIves/github-pages-deploy-action@4.1.5
      with:
        repository-name: gerbv/gerbv.github.io
        branch: gh-pages
        folder: gerbv.github.io
        token: ${{ secrets.GERBV_BUILDBOT_PAT }}
        git-config-name: gerbv-buildbot
        git-config-email: violetland+gerbv@mail.ru
        single-commit: true
      # @see https://github.community/t/how-can-i-test-if-secrets-are-available-in-an-action/17911/10
      env:
        GERBV_BUILDBOT_PAT: ${{ secrets.GERBV_BUILDBOT_PAT }}
      if: ${{ success() && github.event_name == 'push' && env.GERBV_BUILDBOT_PAT }}

