name: CI

# Controls when the action will run. Triggers the workflow on push or pull
# request events but only for the main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]


jobs:
  ci:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Rebuild Fedora 34
      run: npx --package mini-cross@0.15.2 mc --no-tty fedora:34 .mc/rebuild.sh

    - name: Rebuild Ubuntu 20.04
      run: npx --package mini-cross@0.15.2 mc --no-tty ubuntu:20.04 .mc/rebuild.sh

    - name: Rebuild Windows amd64
      run: npx --package mini-cross@0.15.2 mc --no-tty windows:amd64 .mc/rebuild.sh

    - name: Rebuild gerbv.github.io
      run: |
        npx --package mini-cross@0.15.2 mc --no-tty website make -C gerbv.github.io
        find gerbv.github.io -type f -name '.gitignore' -exec rm {} \;

    - name: Deploy gerbv.github.io
      uses: JamesIves/github-pages-deploy-action@4.1.5
      with:
        repository-name: gerbv/gerbv.github.io
        branch: gh-pages
        folder: gerbv.github.io
        token: ${{ secrets.GERBV_BUILDBOT_PAT }}
        git-config-name: gerbv-buildbot
        git-config-email: violetland+gerbv@mail.ru
        single-commit: true
      if: ${{ success() && github.event_name == 'push' }}

